<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/start_meeting.css" />
    <title>Meeting</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        Web RTC Meeting App
        <input type="hidden" id="attendeId" value="<%=attendeId%>" />
        <input type="hidden" id="meetingId" value="<%=meetingId%>" />
      </header>
      <div id="main">
        <div id="self" class="video-grid-item">
          <video id="video-self-view" class="video-view" autoplay playsinline></video>
        </div>
      </div>
      <footer>
        Footer
      </footer>
    </div>
    <script src="../public/attendee.js"></script>
  </body>
</html>
