<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Meeting</title>
</head>
<body>
    <div id="form-wrapper">
        <form action="">
            <label for="meetingId">Meeting ID:</label>
            <input type="text" required minlength="6" name="meetingId">
            <label for="passcode">Passcode: </label>
            <input type="password" required name="passcode">
            <button type="submit">Join</button>
        </form>
    </div>
</body>
</html>