<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Meeting</title>
</head>
<body>
    <div id="video-me" style="width: 300px; height : 300px">
        <input type="hidden" id="userId" value="<%=userId%>"/>
        <video width="50%" height="50%" id="video-self-view" autoplay playsinline >

        </video>
        <video width="50%" height="50%" id="video-attende-view" autoplay playsinline >

        </video>

    </div>
    <script src="../public/startMeeting.js"></script>
</body>
</html>