<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/start_meeting.css" />
    <title>New Meeting</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <input type="hidden" id="userId" value="<%=userId%>" />
        Web RTC Meeting App
      </header>
      <div id="main">
        <div id="self" class="video-grid-item">
          <video
          id="video-self-view"
          class="video-view"
          autoplay
          playsinline
        ></video>
        </div>
      </div>
      <footer>
        <div class="btn-wrapper">
          <div class="modal" id="meeting-modal">
            <div class="modal-content">
              <span id="meeting-id">MeetingId: </span>
              <span id="meeting-passcode">Passcode: </span>
            </div>
          </div>
          <button class="footer-button" id="meeting-info-btn">Invite</button>
          <button class="footer-button">Mute</button>
          <button class="footer-button">Video</button>
          <button class="footer-button">Share Screen</button>
          <button class="footer-button" id="end-call-btn">End</button>
        </div>
      </footer>
    </div>
    <script src="../public/startMeeting.js"></script>
  </body>
</html>
